[2014-03-06 17:26] rsignell-usgs opened #1 "Explain the difference between this repo and the "catalog" repo"
Explain the difference between this repo and the "catalog" repo in the Readme.md file

[2014-03-11 19:52] dpsnowden opened #2 "Remove dead or out of date links now that the README is up to date."
1. Add a comment to https://geo-ide.noaa.gov/wiki/index.php?title=IOOS_Catalog_Registration_Process indicating that this registry repo is the home of all documentation and that the geo-ide wiki is no longer maintained.
2. Search ioostech wiki for other mentions of the service registry and deprecate those pages as well.

[2014-03-12 15:51] robragsdale opened #3 "Frequency that Catalog harvests from Geoportal"
How often does the Catalog harvests from the Geoportal?

We are building a registry repository to consolidate all things registry related.  Included is a timeline associated with the registration process.  I want to confirm that the IOOS catalog harvests from the geoportal every 24 hours.  I cannot recall or find if that is right or not.  Is that correct?

[2014-03-12 15:53] daf opened #4 "52N entries in registry are strange"
I raised this on the catalog mailing list but had no responses, so reproducing here:

When using CSW to query the GeoPortal, whenever an IOOS 52N instance comes back, I get these url patterns in the references:

[code]

Can anyone shed some light on why this happens?  A URL with three space-separated URLs in it (is this expected?)  and then the URL with the double ‘?’ character - which if visited

[2014-03-12 15:58] #3 closed, assigned to nobody

[2014-03-12 16:01] rsignell-usgs opened #5 "CenCOOS 52 north SOS geospatial bounds"
Gang,
I was surprised when CenCOOS 52 north SOS server came back when I queried with a bounding box of New York Harbor.

Are there CenCOOS 52 north SOS geospatial bounds actually correct?

[code]

![3-12-2014 1-25-42 pm](https://f.cloud.github.com/assets/1872600/2400511/6795de8e-aa0b-11e3-92f1-f381018af666.png)

[2014-03-12 18:19] daf opened #6 "MODELING_TESTBED UUID is incorrect"
It's the same as AOOS.  Was wondering why Catalog services were looking a bit familiar..

[2014-03-12 18:51] #6 closed, assigned to nobody

[2014-03-13 21:25] dpsnowden opened #7 "Clarify and document which netcdf/CF/THREDDS metadata is important for ISO generation."
Question from @jcothran.  He asked about written guidance describing which fields in netCDF or SOS data formats were used in the ISO translation and how they might be queried in the Geoportal.

[2014-03-22 18:58] emiliom opened #8 "Resources incorrectly assigned (?) to NANOOS on catalog.ioos.us but not on GeoPortal"
(I know one is officially still supposed to send emails to the ioos.catalog list, but Derrick also said that we could try opening issues here, to make it easier to track progress)

I noticed yesterday a set of DAP resources on the catalog that are shown as being NANOOS resources, with www.ngdc.noaa.gov as the provider (or should that be the "sub-provider", since NANOOS is listed as the "provider"

[2014-03-23 21:31] emiliom opened #9 "Issues with NANOOS ROMS asset on the Registry and Catalog"
Now for the converse of Issue #8, sort of. [This NANOOS ROMS asset](http://catalog.ioos.us/services/53209ad18c0db35a9f4fc196) correctly showed up on the IOOS Catalog recently, after being mysteriously stuck at the EMMA stage for a while. Thanks, Yay! But:
- The asset/record doesn't come up on the NGDC Geoportal if I search on NANOOS, [though the record _is_ present on that catalog (I located it by

[2014-03-24 21:11] #8 closed, assigned to nobody

[2014-03-24 21:20] #9 closed, assigned to nobody

[2014-04-02 11:22] rsignell-usgs opened #10 "Create WAF for MARACOOS and Glider DAP for NGDC to harvest"
@daf, I met with @amilan17 yesterday, and we were wondering whether the data sets being harvested at
https://www.ngdc.noaa.gov/docucomp/collectionSource/list?recordSetId=&componentId=6427999&serviceType=&serviceStatus=&serviceUrl=&search=List+Collection+Sources
might be moved to access from a single (or multiple) WAFs of ISO metadata that you control.   Then NGDC need only harvest from your WAFs,

[2014-04-03 19:39] robragsdale opened #11 "Harvesting from a WAF"
@amilan17 If geoportal is harvesting from a WAF and a record is removed are we dependent on the data provider of the WAF to let us know?   How would that record be removed?

[2014-04-08 07:21] emiliom opened #12 "Add new NANOOS SOS to Registry/Catalog"
(Following Derrick's recent recommendations, I'm submitting this here rather than to the ioos.catalog email list; also to make it easier to track)

I'd like to have this new NANOOS SOS endpoint added to the registry:
http://data.nanoos.org/52nsos/sos/kvp?service=SOS&request=GetCapabilities&AcceptVersions=1.0.0

This endpoint is based on the 52North IOOS SOS server, 0.8.0 snapshot. It's working, wi

[2014-04-08 13:49] rsignell-usgs opened #13 "Problems with SCOOS OBS THREDDS catalog"
There are some problems harvesting this SCOOS Obs catalog: http://tds.gliders.ioos.us/thredds/catalog.html

The granules and aggregations are all in this catalog.  They should be moved to two separate catalogs (granules, aggregations) and then only the aggregation catalog harvested.

In addition, it appears that the aggregations were done using NetCDF4 and chuck_size=1 along the time dimension, wh

[2014-04-08 14:03] rsignell-usgs opened #14 "Investigate why gliders are not being harvested"
Why aren't these gliders being harvested?
Or are they harvested elsewhere?
http://tds.gliders.ioos.us/thredds/catalog.html

[2014-04-08 14:07] rsignell-usgs opened #15 "Investigate aggregation of point data via featureCollection"
@daf wrote:

I have not done it yet, but yes, you should be able to create a featureCollection not only for FMRC, but for POINT, STATION, and (new in 4.3, GRIB). My understanding is that the resulting featureCollection will not work with OPeNDAP, but will work with NcSOS because NcSOS can use the CDMRemote service.   Waiting for response from @chrisgward.

[2014-04-18 18:40] dpsnowden opened #16 "Geoportal presents incorrect URL for a records "Open" link Currenlty points to WMS capabilities."
See the SWAN data published by Caricoos.  The details link is [here](http://www.ngdc.noaa.gov/geoportal/catalog/search/resource/details.page?uuid=%7BD1DF9DAC-8D55-4917-9593-B92C54AA26F7%7D).  Navigate to this record by going to Browse => IOOS => CariCOOS from the main [geoportal page](http://www.ngdc.noaa.gov/geoportal/catalog/search/browse/browse.page) .  The SWAN record is currently the only rec

[2014-05-13 11:35] rsignell-usgs opened #17 "Harvest West Florida FVCOM aggregation catalog instead of granules"
While testing the system-test inundation ipython notebook for the west florida shelf, I discovered that the West Florida Shelf FVCOM data were not appearing.  Inspecting the NGDC Collection Source List for THREDDS-SECOORA:
https://www.ngdc.noaa.gov/docucomp/collectionSource/list?recordSetId=2604653&componentId=&serviceType=THREDDS&serviceStatus=&serviceUrl=&search=List+Collection+Sources
I see tha

[2014-05-13 17:06] rsignell-usgs opened #18 "SABGOM time bounds are stale"
For some reason the SABGOM time bounds are very stale.
The metadata on NGDC:
http://www.ngdc.noaa.gov/geoportal/rest/document?id=%7B91517080-8AA1-465D-8157-9D61AB69C7C5%7D
have start/stop dates in 2012

[code]

The THREDDS catalog being accessed
http://omgsrv1.meas.ncsu.edu:8080/thredds/catalog/fmrc/sabgom/catalog.html
, however, has a single aggregated dataset that is right up to date (end date M

[2014-05-13 19:24] robragsdale opened #19 "Register NANOOS WMS endpoint (from GeoServer)"
From: Emilio Mayorga mayorga@apl.washington.edu
Date: Sunday, May 11, 2014 at 4:08 PM
To: Anna Milan - NOAA Federal anna.milan@noaa.gov
Cc: David Foster dfoster@asascience.com, _NOAA IOOS CATALOG IOOS.Catalog@noaa.gov
Subject: Re: Register NANOOS WMS endpoint (from GeoServer)

Hi Anna et al,

I see that our WMS endpoint is now on the NGDC GeoPortal:
http://www.ngdc.noaa.gov/geoportal/catalog/searc

[2014-05-14 19:09] daf opened #20 "GCOOS 52N URLs are unexpected"
The GeoPortal's entries for the GCOOS 52N URL come back like this:

[code]

Specifically, everything is of scheme `'urn:x-esri:specification:ServiceType:distribution:url'`, which is not consistent with other 52N instances.

Compare to the AOOS 52N references section:

[code]

The Catalog is expecting schemes like `'urn:x-esri:specification:ServiceType:sos:url'`.

Is this possibly related to the ch

[2014-05-15 11:29] rsignell-usgs opened #21 "GCOOS NAM THREDDS Data aggregation and CF issues"
Matt Howard wrote:

Since the NGDC crawler does not follow `CatalogRef` links, it is correct that submitting the 8 child catalogs instead of the top level catalog is appropriate to enable harvesting of these datasets.

The problem is that each of these catalogs contains 50+ datasets that should really each be aggregated into one dataset.   In fact, each of these 8 catalogs contain a single variabl

[2014-05-16 21:21] jcothran opened #22 "ncISO generation"
I'm working with the latest downloaded version of ncISO but running into issues with getting it to generate iso xml files in certain cases:

1)Running the below command, with depth 20 should give entries listed under 'Feature Collections' folder, but only way I can generate these is by substituting the lower level directly for the -ts argument.

java -Xms1024m -Xmx1024m -jar ncISO-2.3.jar -ts http

[2014-05-19 11:15] rsignell-usgs opened #23 "Caricoos ROMS model output needs aggregation"
It looks like Caricoos ROMS data is not in the NGDC catalog, and it also looks like this ROMS data is in need of aggregation before it is registered:
http://dm2.caricoos.org/thredds/catalog/roms/catalog.html
@jcapella, do you agree?

[2014-05-20 14:18] robragsdale opened #24 "CeNCOOS and AOOS WAFs"
@kwilcox, EMMA was not able to harvest any of the data sets in either WAF.

This might be because of a Catalog Reference element.  I found a reference when I went back to the catalog http://thredds.axiomalaska.com/thredds/catalogs/cencoos.xml  I saw <catalogRef xlink:href="global.xml" xlink:title="Global" name=""/.  EMMA cannot crawl through catalogrefs.  Can you fix this?

[2014-05-22 15:26] #17 closed, assigned to nobody

[2014-05-22 16:19] #24 closed, assigned to nobody

[2014-05-23 15:35] rsignell-usgs opened #25 "Two Oregon ROMS datasets, but only one with OPeNDAP"
There are two oregon coast datasets (the one highlighted in yellow and the one below) that look identical, but one has no opendap endpoint.  Perhaps delete it?
![5-23-2014 11-32-28 am](https://cloud.githubusercontent.com/assets/1872600/3068556/e135d5fc-e28f-11e3-9273-99c2c67044b3.png)

[2014-05-23 17:38] rsignell-usgs opened #26 "No OPeNDAP endpoints when harvesting Hyrax Thredds Catalog"
No OPeNDAP endpoint is available for the dataset harvested from this Hyrax THREDDS Catalog:
http://ingria.coas.oregonstate.edu/opendap/aggregation/catalog.xml
Since this is the only Hyrax THREDDS Catalog being harvested, this problem may exist for all datasets harvested from Hyrax THREDDS catalogs.  Need to investigate if this is an ncISO issue, a Hyrax THREDDS issue, or...

We discovered this bec

[2014-05-23 17:39] #25 closed, assigned to nobody

[2014-06-02 20:20] daf opened #27 "AOOS service endpoints missing?"
Is it me, or did the AOOS service endpoints drop significantly?  I know there was a push to use a WAF as the source, but we used to see roughly 300ish service endpoints, and it's down to around 47.  Is this expected?

Missing among the 47 is the i52N instance, I don't see that coming back anywhere.

[2014-06-03 18:30] #27 closed, assigned to nobody

[2014-06-06 14:04] jcothran opened #28 "catalog application link example"
Is there an example WAF type record and associated searchable service type for more generic 'application' type links?  RA's,etc  have lots of associated application development as well as more basic THREDDS/OGC web services and would be nice to use the catalog to discover these links and associated summaries also.

[2014-06-06 14:32] #22 closed, assigned to nobody

[2014-06-11 20:41] robragsdale opened #29 "Registration of HFR service links"
@rsignell-usgs I will register the child catalogs in http://hfrnet.ucsd.edu/thredds/catalog.html to the registry.  I recopied Bob Fratantonio's email for reference.

Rob

Bob,
What a great discovery! I guess this means that neither of the two HFR thredds servers, the realtime catalog:
http://sdf.ndbc.noaa.gov:8080/thredds/catalog.html
or the realtime-archived data catalog:
http://hfrnet.ucsd.edu/t

[2014-06-18 11:12] #18 closed, assigned to nobody

[2014-06-18 11:19] #29 closed, assigned to nobody

[2014-06-18 11:23] rsignell-usgs opened #30 "Metadata to differentiate GNOME and non-GNOME HFRNET datasets"
Now that the UCSD HFRNET HR radar datasets (http://hfrnet.ucsd.edu/thredds/catalog.html) are being harvested, how can we distinguish in the metadata the difference between the GNOME formatted versions of the data and the non-GNOME versions?   The metadata looks the same to me:
![6-18-2014 7-17-21 am](https://cloud.githubusercontent.com/assets/1872600/3312908/e6391500-f6da-11e3-90b6-5bd6f6d9336a.pn

[2014-06-20 18:38] daf opened #31 "Register additional Glider DAC datasets"
Hi, please register the following:

[code]

I can be the point of contact or use devops@asascience.com as that sees more eyes if I'm not in and there's an issue.

[2014-06-25 20:13] jcothran opened #32 "end-time metadata for ongoing operational datasets"
For the ISO WAF metadata entries I'm currently providing, I've been adding a script to daily regenerate the WAF files using ncISO, but the only reason for this is so that the 'end-time' type metadata reflects the ongoing nature of ongoing forecast models and in-situ data.

Is there a shorthand valid way(works with @rsignell-usgs catalog search with time extents) of denoting a dataset as ongoing by

[2014-06-25 20:32] #28 closed, assigned to nobody

[2014-06-26 16:32] amilan17 opened #33 "Catalog Processing of MOST IOOS WAFs are failing"
Many of the IOOS WAFs have not been processed since 6/19. I think this is the related to  Glidar metadata not updating. In the next couple days I will be investigating this, by turning services on and off in the CollectionSource table to help determine the key issue at hand. In the meantime - please don't register new services and I appreciate your patience.

For reference: http://www.ngdc.noaa.go

[2014-06-27 14:05] dpsnowden opened #34 "CariCOOS THREDDS catalog contains multiple opendap service URLs for each data set"
@amilan17 sent an offline request to @jcapella which might benefit the broader group.  I'm repeating the email from her below then I'll add my comments in another comment block.

Hi Jorge,
As I'm digging through harvest log history in EMMA I discovered that all of the services registered are failing translation from NcML to ISO because the opendap_service element is repeated.

Here are a couple ex

[2014-06-27 17:22] dpsnowden opened #35 "Make a decision on catalogRef following in EMMA harvesting"
We have been dealing with the technical debt associated with one decision for quite some time and it has introduced a whole bunch of extra work on the part of the RAs and the registry/catalog team.  I want a discussion that we can all understand and that will end up with a decision to either maintain statues quo or change our approach.

_The decision as I understand it was to force the ncISO/EMMA

[2014-06-27 17:33] dpsnowden opened #36 "Harvest multiple service types from THREDDS catalog entries."
Data sets served via THREDDS can be accessed through multiple methods.  For example, views of this [data set](http://dm1.caricoos.org/thredds/dodsC/buoys/Historical/PR3/catalog.xml?dataset=buoys/Historical/PR3/DSG_PR3.accelerometer2.historical.nc) are available through 10 different access methods.  (I realize not all of them are valid for every data type)  However, our current method of harvesting

[2014-07-02 17:43] #33 closed, assigned to amilan17

[2014-07-03 19:00] amilan17 opened #37 "Fix uomIdentifier error in NcML to ISO transform"
The ISO transform does not modify the units when they are encoded in the NcML as
&lt;attribute name="units" value="seconds since 1970-01-01 00:00:00 UTC"/&gt;
This causes errors in the resulting ISO output. The transform should truncate this value so that the ISO only outputs 'seconds'.

[2014-07-11 16:10] #36 closed, assigned to nobody

[2014-07-14 19:28] rsignell-usgs opened #38 "Why do I get no datasets back when I search on "sand_01""
When I search on "sand_01" at http://www.ngdc.noaa.gov/geoportal/catalog/main/home.page I get no datasets back, despite that "sand_01" is a variable I can see in the metadata here:
http://www.ngdc.noaa.gov/geoportal/rest/document?id=%7BE928E37C-AE3A-4152-A44D-93BC1C45FD5E%7D

Why can't we search on "sand_01"?

[2014-07-17 21:06] amilan17 opened #39 "Multi-threaded harvesting of services"
Current approach for harvesting metadata from services is sequential. When there is a problem with one service this can cause failure of the rest of the processing.

[2014-07-18 21:27] #37 closed, assigned to amilan17

[2014-07-23 14:35] robragsdale opened #40 "Registry WAF Assignments"
@amilan17 When we made the decision to associate metadata with multiple agency/organization affiliations with an "other" WAF in the registry, the unintended consequence is that "other" shows up in the drop down menu in the catalog.  We put the CDIP metadata their and I see now that it is not visible or as is visible as I think it should be.  I think a program like CDIP should have its own WAF.  To

[2014-07-29 15:28] #4 closed, assigned to nobody

[2014-07-29 17:59] #40 closed, assigned to nobody

[2014-08-13 21:53] daf opened #41 "Do CDIP/Unidata WAFs have any records to get via CSW?"
Following up on ioos/catalog#75, I haven't seen any Services/Datasets show up for the new CDIP UUID, introduced in 3dc9bfd91414e5c6a.  I ran the CSW portion manually but get no records back - for testing I also tried the new Unidata UUID introduced in the same commit.  Should I be seeing something come back?

This is a follow-on to #40.

[2014-08-15 17:15] #41 closed, assigned to nobody

[2014-08-26 14:43] rsignell-usgs opened #42 "Add a date range selection to NGDC geoportal"
The NODC geoportal allows the user to specify start/stop on their geoportal web page at:
http://www.nodc.noaa.gov/geoportal/.   Would it be easy to add the same to the NGDC Geoportal web page?

In other words, could we add the "When" option as shown below?

![8-26-2014 10-35-16 am](https://cloud.githubusercontent.com/assets/1872600/4046092/3757dc52-2d2f-11e4-98a9-7dfcfbf6c87d.png)

Sure would be n

[2014-08-26 18:43] robragsdale opened #43 "USGS/CMGP harvesting issue"
@amilan17  Would this invalidation error "line:404 column:66 cvc-type.3.1.3: The value '20-May-2011T15:29:12' of element 'gco:DateTime' is not valid" be causeed by this <timeCoverage>

<start>1976-12-28 21:29:59</start>
<end>1977-01-08 06:29:59</end>

whereas, if reported this way

<timeCoverage>
<start>2012-06-25T01:00:00Z</start>
<end>2014-08-23T00:00:00Z</end>
</timeCoverage>

this would correc

[2014-08-26 19:05] robragsdale opened #44 "USGS/CMGP harvesting issue"
@amilan17  Would this invalidation error "line:404 column:66 cvc-type.3.1.3: The value '20-May-2011T15:29:12' of element 'gco:DateTime' is not valid" be causeed by this <timeCoverage>

<start>1976-12-28 21:29:59</start>
<end>1977-01-08 06:29:59</end>

whereas, if reported this way

<timeCoverage>
<start>2012-06-25T01:00:00Z</start>
<end>2014-08-23T00:00:00Z</end>
</timeCoverage>

this would correc

[2014-08-27 17:16] #44 closed, assigned to nobody

[2014-08-27 20:15] robragsdale opened #45 "Python tools for translating THREDDS metadata to PyCSW formats"
@danramage and @pacioos  Dan Ramage is implementing a PyCSW server and asked if anyone
had any python tools that would make it less painful to go from the
THREDDS metadata to one of the formats PyCSW supports for importing. There is
a thread in the PyCSW issues page about this, but Dan didn't see a
conclusion to it.

Dan

[2014-08-28 15:55] rsignell-usgs opened #46 "Is this SECOORA USEAST coupled dataset being harvested?"
I'm not sure how to find out whether this SECOORA datset is being harvested.
http://omgsrv1.meas.ncsu.edu:8080/thredds/catalog/fmrc/us_east/catalog.html

@jcothran ?

[2014-09-02 17:24] robragsdale opened #47 "Collecting WAF scripts"
@rsignell-usgs could you offer up the scripts that you have created/use to create WAFs?  We would like to post these and others that we get, starting with the Wiki page https://github.com/ioos/registry/wiki/Python-Scripts-for-creating-WAFs.

Thanks.

[2014-09-03 12:10] rsignell-usgs opened #48 "THREDDS WMS and Geoportal base map projection"
When I click the "preview" on the NGDC geoportal web app for a THREDDS model dataset, I get back "WMS service doesn't provide any layer in a projection of the base map."

What is the projection supported by the geoportal base map?

![9-3-2014 8-07-49 am](https://cloud.githubusercontent.com/assets/1872600/4133802/5a326a5a-3363-11e4-9912-7ad377e6ad96.png)

[2014-09-03 17:22] rsignell-usgs opened #49 "missing standard names in OceanNOMADS data"
It looks like at least some of the OceanNOMADS model datasets do not have standard names.

For example:
http://ecowatch.ncddc.noaa.gov/thredds/dodsC/hycom/hycom_reg1_agg/HYCOM_Region_1_Aggregation_best.ncd.html

does not have a `standard_name` attribute for variables `water_u` and `water_v`.

They should have `standard_name` attributes of `eastward_sea_water_velocity` and `northward_sea_water_velo

[2014-09-04 19:45] #1 closed, assigned to robragsdale

[2014-09-04 20:10] #2 closed, assigned to robragsdale

[2014-09-04 20:23] #5 closed, assigned to nobody

[2014-09-10 17:47] jcothran opened #50 "Is this SECOORA USEAST coupled dataset being harvested?"
@rsignell-usgs sorry, just seeing this earlier issue #46 now

I did run the USEAST endpoint through ncISO last May/June producing the xml record below
http://neptune.baruch.sc.edu/xenia/waf/ncsu_meas/SABGOM_us_east.xml

with this WAF endpoint being registered on the NGDC collection table at
https://www.ngdc.noaa.gov/docucomp/collectionSource/show/7981085?layout=fluid

The ncd file endpoints look t

[2014-09-10 17:48] #46 closed, assigned to nobody

[2014-09-10 18:23] #31 closed, assigned to nobody

[2014-09-18 23:24] emiliom opened #51 "Add NANOOS/SWFRC ERDDAP datasets"
NANOOS would like to add 4 datasets to the IOOS registry. They are an [Aqua-MODIS remote sensing product for monthly climatologies (2002-2013) and anomalies (2002- Jun 2014) of SST and Sea-surface Chlorophyll a](http://coastwatch.pfeg.noaa.gov/erddap/search/index.html?searchFor=OSU%20MODIS%20Climatology) produced by @crisien at OSU (Craig is part of the NANOOS DMAC team). But there's a tricky aspe

[2014-09-23 01:06] dpsnowden opened #52 "Define and document the end of the registration process."
This was raised in issue #51 and deserves separate attention.  The README.md file in the base directory of the repo needs some editing to be more clear about the steps involved in registering a data service and the completion of that process.  I'll propose something here and see if anyone objects.

Striving to maintain some separation between the Service Registry and Data Catalog has been a goal i

[2014-09-25 21:00] rsignell-usgs opened #53 "EMMA seems down?"
When I click the [EMMA link](http://www.ngdc.noaa.gov/docucomp/page?view=wafsInGroup&title=Metrics%20and%20Collections%20for%20Group%20IOOS&groupName=IOOS) listed on the Catalog [readme.md](https://github.com/ioos/registry/blob/master/README.md), I get:

Failed to compile stylesheet.  1 error detected.

![9-25-2014 4-59-59 pm](https://cloud.githubusercontent.com/assets/1872600/4412235/0bfeb47e-44f

[2014-09-25 21:05] rsignell-usgs opened #54 "Why isn't the USGS COAWST forecast model showing up any more?"
I'm guessing that the USGS COAWST model isn't showing up anymore because NERACOOS thredds endpoints are no longer being harvested, replaced by harvesting ISO records from a WAF.

@ebridger, does this sound right?

 I'd like to check emma, but it seems to be down.

[2014-09-25 22:23] #53 closed, assigned to amilan17

[2014-09-26 11:28] rsignell-usgs opened #55 "Fix lots of bad unidata ucar links"
I wrote a little [script to query the NGDC CSW for all the OPeNDAP endpoints](http://nbviewer.ipython.org/github/rsignell-usgs/system-test/blob/master/Theme_1_Baseline/ioos_data_size.ipynb) and found 2785 links but 1100 of them either timed out after 2 seconds or gave 404 errors.

The bad ones are here:https://github.com/rsignell-usgs/system-test/blob/master/Theme_1_Baseline/bad.csv

About 400 of

[2014-09-26 11:51] rsignell-usgs opened #56 "Fix broken TAMU dap urls"
I wrote a little [script to query the NGDC CSW for all the OPeNDAP endpoints](http://nbviewer.ipython.org/github/rsignell-usgs/system-test/blob/master/Theme_1_Baseline/ioos_data_size.ipynb) and found 2785 links but 1100 of them either timed out after 2 seconds or gave 404 errors.

The bad ones are here:https://github.com/rsignell-usgs/system-test/blob/master/Theme_1_Baseline/bad.csv

@mkhoward, ab

[2014-09-26 19:12] #54 closed, assigned to nobody

[2014-10-01 14:32] robragsdale opened #57 "NANOOS 52N Service is not in Geoportal"
@amilan17 the NANOOS; 52 N service (http://data.nanoos.org/52nsos/sos/kvp?service=SOS&request=GetCapabilities&AcceptVersions=1.0.0) is being harvested into the production WAF.  This service has been in Catalog most recently, but it was not in there this morning.  Could you please look into this?

@emiliom has anything changed recently with your 52N service?

Right now NANOOS does not have any serv

[2014-10-03 03:20] #51 closed, assigned to robragsdale

[2014-10-03 18:08] rsignell-usgs opened #58 "Caricoos SWAN model granules need to be removed"
@amilan17, I'm trying to eliminate all the bad DAP urls in the catalog, one group at a time.  The UCAR and TAMU ones were huge!

So by perusing my list of [good DAP urls](https://github.com/rsignell-usgs/system-test/blob/master/Theme_1_Baseline/good2014-10-03.csv) and [bad DAP urls](https://github.com/rsignell-usgs/system-test/blob/master/Theme_1_Baseline/bad2014-10-03.csv) it looks like next up f

[2014-10-03 19:21] #57 closed, assigned to nobody

[2014-10-03 19:41] #12 closed, assigned to nobody

[2014-10-14 12:56] rsignell-usgs opened #61 "HFRADAR gone missing from the geoportal?"
Where did the HFRADAR data go?

If I search http://www.ngdc.noaa.gov/geoportal/catalog/main/home.page for "hfradar", I get nothing.
![10-14-2014 8-50-25 am](https://cloud.githubusercontent.com/assets/1872600/4629128/c3396a64-53a0-11e4-8e25-c2fc69efe197.png)

I can see the collection source data here:
https://www.ngdc.noaa.gov/docucomp/collectionSource/list?recordSetId=6338758&componentId=&serviceT

[2014-10-14 16:00] #61 closed, assigned to nobody

[2014-10-28 21:34] srstsavage opened #62 "Host ISO xsl files on GitHub?"
@amilan17 When dealing with IOOS registry/catalog/metadata issues, we often need to understand how upstream documents (SOS/WMS capabilities, ncML, etc) are being transformed to ISO by the XSL files. It would be very helpful if these files were hosted on GitHub so that they could be easily referenced and others could make patches and pull requests to fix problems. Being able to easily reference the

[2014-11-26 18:42] rsignell-usgs opened #64 "Make sure that WAFs from THREDDS use the latest UnidataDD2MI.xsl"
To get proper service identification in CSW responses we need to get folks running ncISO in stand-alone or via THREDDS servers  to use the latest version of the UnidataDD2MI.xsl file.   See the issues here:

https://github.com/geopython/pycsw/issues/269
https://github.com/Unidata/thredds/issues/75

The new XSL should be in the next release of the TDS and ncISO, but providers can just update their

[2014-11-28 18:35] robragsdale opened #65 "When do WAFs show up in Geoportal Browse List"
@amilan17 There are [WAFs](http://www.ngdc.noaa.gov/metadata/published/NOAA/IOOS/) that were created (i.e. CDIP, HFradar_DAC, Glider_DAC, ATN_DAC (created but does not contain metadata)), but are not listed in the [Geoportal browse list](http://www.ngdc.noaa.gov/geoportal/catalog/search/browse/browse.page).  I thought the process for WAFs to be displayed on Geoportal was automatic when they were c

[2014-12-01 19:30] amilan17 opened #66 "Clean up list of CariCOOS services registered"
@jcapella @rsignell-usgs
There are a number of CariCOOS services failing. They were were registered (or last updated last July). Can we remove some of these?

_Unresponsive_
http://www.ngdc.noaa.gov/docucomp/collectionSource/list?recordSetId=3573894&componentId=&serviceType=&serviceStatus=UNRESPONSIVE&serviceUrl=&search=List+Collection+Sources

_Fails Translation_
http://www.ngdc.noaa.gov/docucomp

[2014-12-03 18:40] #56 closed, assigned to nobody

[2014-12-05 18:43] robragsdale opened #67 "Glider_DAC WAF Cleanout"
@amilan17 I have registered a new WAF for the Glider data sets.  I think this would be a good time to do a cleanout of the old service catalogs that are replicated in the new WAF.  I have changed the status of these older catalogs to "For Removal" in EMMA.  Could you please perform a cleanout of the Glider WAF?

[2014-12-09 16:33] #62 closed, assigned to nobody

[2014-12-15 14:16] #67 closed, assigned to nobody

[2015-01-27 19:47] robragsdale opened #68 "GCOOS ISO WAF Registration"
@mkhoward the service http://barataria.tamu.edu/iso/ is not being harvested by geoportal because of an invalid records.  The errors reported concern the presence of 'CHILDREN' element in the 'gco:Measure' element.  According to the validation report, the 'gco:Measure' element must have no 'children' and, the value must be valid. @amilan17 could you please take a look to see that I represented the

[2015-01-27 20:29] amilan17 commented on #68
@mkhoward @robragsdale
Can you provide a link to the source metadata (NcML?) before translation to ISO. Thanks.

[2015-01-29 07:00] emiliom opened #69 "Register NANOOS OHSU-CMOP model forecasts from THREDDS"
We'd like to register a new service & dataset from NANOOS.

- **Service URL:** http://amb6400b.stccmop.org:8080/thredds/catalog/model_data/catalog.xml
- **Service Point of Contact:** Charles Seaton, cseaton@stccmop.org, @cseaton, OHSU-CMOP
- **Service Organization:** NANOOS. Or is it OHSU-CMOP? According to https://github.com/ioos/registry it should be NANOOS, but I seem to remember that this serv

[2015-01-29 16:43] robragsdale commented on #69
@emiliom  Registered [service](https://www.ngdc.noaa.gov/docucomp/collectionSource/show/11179121?layout=fluid) today.  I will follow-up if I see any issues in the harvesting process.

[2015-01-30 17:05] mkhoward commented on #68
I've looked through all four ISO files and can't find any instance of a gco:Measure
element that has a child element, so I'm at a loss as to what might need to be fixed.
The THREDDS catalog.xml entry for this follows:

The XML/NcML from which that ISO is derived is:

<dataset name="NCEP Model Data">

    <metadata inherited="true">
      <serviceName>fullServices</serviceName>
      <authority>edu

[2015-02-03 03:08] emiliom commented on #69
Thanks, @robragsdale. The service is not on the Catalog yet, [or in the NANOOS collection on the NGDC GeoPortal ](http://www.ngdc.noaa.gov/geoportal/catalog/search/browse/browse.page). I can see it [on the NGDC submitted records for NANOOS](http://www.ngdc.noaa.gov/metadata/published/test/NOAA/IOOS/NANOOS/iso_u/). @amilan17, could you let us know if there are problems with our THREDDS service that

[2015-02-03 14:36] robragsdale commented on #69
@emiliom I updated the status to approve. It should start moving now and follow this harvesting schedule where it will be in the [Geoportal](http://www.ngdc.noaa.gov/geoportal/) tomorrow and the [Catalog](http://catalog.ioos.us/) by Thursday.

[2015-02-03 17:35] emiliom commented on #69
Thanks, @robragsdale and @amilan17. @cseaton, please follow up with Paul on Anna's feedback and let us know when the changes have been made. This would be a good time to also edit the "title" (identifiers) to something more meaningful and stand-alone (eg, "CMOP SELFE model forecasts of Columbia Estuary"). Currently "model_data/forecast.nc" (or "Model data/forecast.nc") appears ([see here](http://w

[2015-02-06 18:44] emiliom commented on #69
@cseaton has looked into @amilan17's [comments](https://github.com/ioos/registry/issues/69#issuecomment-72687205), but couldn't figure out how to best address the issues Anna raised. Here are Charles' comments (in an email to me), followed by my own comments and updates at the bottom:

but that basically gives no information. I find nothing in the CF standard name table relating to _resolution, so

[2015-02-12 00:39] emiliom commented on #69
@amilan17, have you had a chance to digest this? Your advice would be really helpful to us in moving forward.

@rsignell-usgs: Sorry for (ab)using your well-rounded knowledge and bringing you into this. Any ideas on resolution values to use to address [Anna's point regarding the CMOP SELFE irregular-grid THREDDS service](https://github.com/ioos/registry/issues/69#issuecomment-72687205)?

vert_coor

[2015-02-12 21:09] amilan17 commented on #69
@emiliom @cseaton @robragsdale
I think the easy solution is for ncISO to recognize the fact that there is no resolution documented in the netCDF file (for whatever reason) for that dimension and to NOT try to include this information in the resulting ISO. The resolution field is optional in this ISO section. The trade-off is that the units for that dimension will also be removed.

MD_Dimension

[2015-02-13 19:34] emiliom commented on #69
Thanks, @amilan17. Are you saying that ncISO should be updated? If so, that's not something we can do, so we (NANOOS) still have to find a solution that's within our grasp. Based on your comments and @cseaton's assessment, how about if we just set to `Nil` the three coordinate resolution variables: `vert_coords, node_lat and node_lon`? I assume CMOP can do this in either the netcdf files or via TH

[2015-02-18 21:24] amilan17 commented on #69
I created a pull request https://github.com/Unidata/threddsIso/pull/8 for NcISO to be updated.

[2015-02-18 22:14] rsignell-usgs commented on #69
Just looking at this dataset for the first time (sorry!).     I like to test by trying to load with pyugrid, which only works if the [ugrid conventions](https://github.com/ugrid-conventions/ugrid-conventions/blob/v0.9.0/ugrid-conventions.md) are followed.

I can see there is a problem with the time units.   Looking at http://amb6400b.stccmop.org:8080/thredds/dodsC/model_data/forecast.nc.html
it lo

[2015-02-18 22:24] rsignell-usgs commented on #69
One more thing:   nciso will calculate the lon/lat bounds (by reading the actual lon/lat data and computing the range) if you specify the global attribute `cdm_data_type: ugrid`

[2015-02-18 22:32] emiliom commented on #69
Thanks, @rsignell-usgs! @cseaton, can you take Rich's suggestions and [my earlier comment from last week](https://github.com/ioos/registry/issues/69#issuecomment-74312526), discuss with Paul, and try to implement the changes?

@amilan17, thanks for creating a pull request to ncISO! I'm assuming it would take a much longer while before that loop could be closed so we could benefit from it with this

[2015-02-18 23:15] cseaton commented on #69
Thanks, @rsignell-usgs, particularly for pointing out the error in how we are representing the time units. We will implement these changes.

[2015-02-19 11:44] rsignell-usgs commented on #69
I just noticed a few more things.  The depth and water level variables should *not* have the positive attribute defined.  The positive attribute should only be used in the vertical coordinate variable that has the "formula_terms" attribute set (here `vert_coords`).   `vert_coords` should have units of `1`, not meters.

By the way, I would recommend *not* specifying the resolution.  We don't specif

[2015-02-19 16:35] jacimize opened #70 "Broken links"
Some of the IOOS links at http://catalog.ioos.us/services/filter/NAVY/DAP are broken or pointing to the wrong data.  Here are the corrections.  Data info URLS will present an HTML page with information about the file that can be used to request some of the data, or build a URL to use to get it.  Data Access URL’s will not return a valid result when accessed by a browser, but can be used as input t

[2015-02-19 18:13] robragsdale commented on #70
Thanks, @jacimize.  I'll update these URLs, accordingly.

[2015-02-19 18:55] emiliom commented on #69
Thanks, @rsignell-usgs. BTW, after the first NGDC registration results @amilan17 said that [adding those resolution attributes would lead to passing ISO validation.](https://github.com/ioos/registry/issues/69#issuecomment-72687205) Thanks so much for the VIMS SELFE example, that will be very helpful; @cseaton had [looked at SURA irregular-grid examples on the catalog (possibly this one) and also h

[2015-02-26 19:09] emiliom commented on #69
FYI: The service is [now showing on the IOOS Catalog](http://catalog.ioos.us/services/54e6d48d8c0db351aeb61840). @cseaton and I now have some improvements to make so the service and dataset are more understandable (eg, the title) and more standard compliant; but it looks like those incremental changes will just show up as part of the regular harvesting.

Thanks so much to all (@amilan17, @rsignell

[2015-02-27 22:09] emiliom commented on #69
@cseaton has addressed most of the remaining issues with this NANOOS THREDDS service. However, to do that he had to create a new catalog xml endpoint service url. That means we have to ask you to change the service url from the old one:
http://amb6400b.stccmop.org:8080/thredds/catalog/model_data/catalog.xml
to this one:
http://amb6400b.stccmop.org:8080/thredds/forecast_model_data.xml

@robragsdale

[2015-03-03 01:06] robragsdale commented on #69
@emiliom @cseaton @amilan17 I have submitted the new service URL to the registry.  I will check in the morning and change the status to "approve".

[2015-03-04 12:02] rsignell-usgs commented on #69
@cseaton, nice job with the changes to make this forecast dataset UGRID compliant.  It seems to load just fine now with pyugrid:

http://nbviewer.ipython.org/gist/rsignell-usgs/ed68c3daa55ece317afe

[2015-03-04 16:28] cseaton commented on #69
@rsignell-usgs, thanks! That's nice to see. I haven't implemented the changes you mentioned about the positive attribute and the vert_coords unit yet, but we plan to implement that as part of some currently in-progress changes to how SELFE writes netcdf output files, to bring us into better compliance.
@robragsdale, thanks for submitting the new service URL for us.

[2015-03-05 20:11] emiliom commented on #69
@robragsdale and @rsignell-usgs, thanks for your follow-ups. I can see that starting today [the new THREDDS catalog endpoint is now on the IOOS Catalog](http://catalog.ioos.us/services/54f7f8038c0db33816537b82), listed as a new service. The [corresponding dataset](http://catalog.ioos.us/datasets/54f807a48c0db358a4d164c6) listing is looking great, WAY better than before -- richer metadata, more sta

[2015-03-05 22:30] tlewis11 commented on #70
Any progress on updating these links?  They are still reporting as broken.  Thank you.

[2015-03-06 01:01] dpsnowden commented on #69
@emiliom the lack of a bounding box on the catalog is due to the issue described in the messages section of http://catalog.ioos.us/datasets/54f807a48c0db358a4d164c6.  The Paegan library that does the featureType parsing doesn't handle the unstructured grid data type apparently.  Not sure where that is on the development schedule or if we'll be abandoning Paegan in favor of something else for vario

[2015-03-06 01:38] emiliom commented on #69
Nice of you to drop by, @dpsnowden! I hope you're enjoying the weather; we'd love to have some of your snow for our mountains (yours too, Rich). And thanks for the useful comment.

If @lukecampbell can confirm your assessment, we'll conclude we're done with registering this service endpoint, and this github issue can be closed (once the previous, now deprecated endpoint is removed from the registr

[2015-03-09 15:15] emiliom commented on #69
Just checking on the status of the removal of the old endpoint. On [EMMA it's showing as flagged "FOR REMOVAL"](https://www.ngdc.noaa.gov/docucomp/collectionSource/show/11179121?layout=fluid) (thanks, @robragsdale), but not "REMOVED". On the [NGDC Geoportal, the record is still there](http://www.ngdc.noaa.gov/geoportal/catalog/search/resource/details.page?uuid={8A3B9870-10D3-4C90-889A-32556247FDE1

[2015-03-09 15:37] amilan17 commented on #69
@emiliom
You are correct - it is a manual process. I will proceed to set up the removal configurations. They should be cleared out by tomorrow afternoon. Let me know!

[2015-03-09 15:39] emiliom commented on #69
Thanks, @amilan17. I'll confirm tomorrow late afternoon.

[2015-03-11 16:59] robragsdale opened #71 "Registration of new CariCOOS webservices"
@jorgecapella I have submitted the new CariCOOS services
I had to register one catalog level down from the the top level catalog http://dm2.caricoos.org/thredds/catalog .html because the NGDC metadata crawler cannot search through catalogRefs –

<dataset name="NCSU MEAS THREDDS catalogs">
<catalogRef xlink:href="gomtox_catalog.xml" xlink:title="GOMTOX (Gulf of Maine) Ocean Model" name=""/>
<catalo

[2015-03-11 20:04] emiliom commented on #69
Ok, the old, deprecated service has been flushed out of the system (EMMA (set to REMOVED) > NGDC Geoportal > IOOS Catalog). The production service looks just fine on the IOOS Catalog, other than the bounding box issue already discussed and that's not a problem on the NANOOS end.

I'm closing this issue. Thanks again to everyone who helped out!

[2015-03-11 20:04] #69 closed

[2015-03-12 17:32] robragsdale commented on #71
@jcapella The buoy data services was not successfully harvested last night by the IOOS Registry.  The only services that were harvested were related to the waverider, GlobColour daily merged MERIS/MODIS product, and SWAN model.  There were no validation errors reported in the harvesting.

@amilan17 do you see any reason why only these three services were harvested but
http://dm2.caricoos.org/thred

[2015-03-13 15:46] robragsdale commented on #70
These URLs have been updated in the registry and are being harvested by the [catalog](http://catalog.ioos.us/services/filter/NAVY/DAP) this morning.  The last two links submitted yesterday will not be picked up by the catalog until this weekend.
http://ecowatch.ncddc.noaa.gov/thredds/catalog/ncom/ncom_reg1_agg/catalog.xml
http://ecowatch.ncddc.noaa.gov/thredds/catalog/ncom/ncom_reg2_agg/catalog.xm

[2015-03-13 16:41] scross015 commented on #70
@robragsdale, thanks much!

[2015-03-13 16:42] #70 closed

[2015-03-18 10:57] ocefpaf opened #72 "Possible typo in SECOORA ISOWAFs"
[This ISOWAF endpoint](https://www.ngdc.noaa.gov/docucomp/collectionSource/list?recordSetId=2604653&componentId=&serviceType=ISOWAF&serviceStatus=&serviceUrl=platform&search=List+Collection+Sources) is missing an "s".
`http://neptune.baruch.sc.edu/xenia/waf/usc/platform/` should be `http://neptune.baruch.sc.edu/xenia/waf/usc/platforms` instead.

(See: https://github.com/ioos/secoora/issues/150)

[2015-03-18 14:39] rsignell-usgs commented on #72
@amilan17 do you have to fix this, or is it something that @robragsdale can fix also?

[2015-03-18 15:14] amilan17 commented on #72
fixed. Those records will be harvested by tomorrow.
Thanks for noticing!

Anna
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
Anna.Milan@noaa.gov, 303-497-5099
NOAA/NESDIS/NCEI-Boulder
(formerly NGDC)

http://www.ngdc.noaa.gov/metadata/emma
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

On Wed, Mar 18, 2015 at 8:39 AM, Rich Signell <notifications@github.com>
wrote:

[2015-04-01 19:27] robragsdale commented on #71
@jcappella @amilan17  None of the CariCOOS services are [reporting](http://www.ngdc.noaa.gov/docucomp/page?xml=NOAA/IOOS/CariCOOS/iso/reports/IsoValidationReport.xml&view=isoValidationErrorsReport&custom=default&title=NOAA/IOOS/CariCOOS%20Invalid%20Records) being invalid.  Only the [SWAN model simulation service] (http://catalog.ioos.us/services/534616748c0db36a5ba99cd9) is being picked up by the

[2015-04-01 19:49] jcapella commented on #71
Our thredds was hacked and has been down since 3/26.  José is
    working on this and he informs me the server should be back up by
    tomorrow.

    On 4/1/2015 3:27 PM, robragsdale wrote:

      @jcappella @amilan17
        None of the CariCOOS services are reporting
        being invalid. Only the SWAN
          model simulation service is being picked up by the catalog
        and is currentl

[2015-04-14 17:10] amilan17 commented on #71
@jcapella @robragsdale

There are 15 services submitted in the IOOS registry for CariCOOS
https://www.ngdc.noaa.gov/docucomp/collectionSource/list?recordSetId=3573894&componentId=&serviceType=&serviceStatus=SUBMITTED&serviceUrl=&search=List+Collection+Sources&max=20
and
~3000 records harvested into the test WAF.
http://www.ngdc.noaa.gov/metadata/published/test/NOAA/IOOS/CariCOOS/iso_u/

It looks l

[2015-04-14 17:14] robragsdale commented on #71
@amilan17 @jcapella Could we schedule time to talk next week?

I believe we should focus on why the buoy data is not being harvested?  @jcapella has questions about whether duplication of the services is still an issue as well that I would like to resolve.

Is there a time next week that is good for everyone?

[2015-04-14 17:18] amilan17 commented on #71
Which services in the collectionSource list represent buoy data?

[2015-04-14 17:57] jcapella commented on #71
Of course.  Just give me a date and time, except for Thursday am.

On 04/14/2015 01:14 PM, robragsdale wrote:

[2015-04-14 18:01] jcapella commented on #71
I don't see the non-aggregated data.

The aggregation is

On 04/14/2015 01:14 PM, robragsdale wrote:

[2015-04-15 15:53] abirger commented on #71
@robragsdale , the catalog harvester was down for quite some time, maybe that was the reason? Luke Campbell has the details.

[2015-04-28 20:57] lukecampbell opened #73 "SOS MARACOOS WAF Cleanout"
Hey Folks,

Could I get a clean out for the MARACOOS WAF at
http://sos.maracoos.org/maracoos-iso/

The WAF was regenerated today, a lot of the data have been moved and or renamed.

[2015-04-28 21:04] amilan17 commented on #73
yes - check back again tomorrow to ensure that all is as expected...

[2015-04-29 15:10] lukecampbell commented on #73
@amilan17 Could you do a cleanout one more time? The last set of ISOs didn't have any of the OPeNDAP URLs, and I still can't identify how or why that happened so I ran NcISO from a remote machine to generate all the ISOs this time, and verified that the OPeNDAP URLs are there.

[code]

[2015-04-29 17:52] amilan17 commented on #73
Ok - I'll keep the configurations for clean out of MARACOOS until I have
confirmation from you that it is all good. Check back again tomorrow
(Thurs).

Anna
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
Anna.Milan@noaa.gov, 303-497-5099
Metadata Specialist

NOAA National Centers for Environmental Information
formerly NOAA’s National Geophysical Data Center

http://www.ngdc.noaa.gov/metadata/emma
*~~~~~~~~~~~~

[2015-04-29 20:30] lukecampbell commented on #73
Thank you!

[2015-04-30 15:34] robragsdale opened #74 "MARACOOS UUID"
@amilan17 Is the MARACOOS UUID still {C664F631-6E53-4108-B8DD-EFADF558E408}?

[2015-04-30 16:28] amilan17 commented on #74
yes - it hasn't changed.

Anna
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
Anna.Milan@noaa.gov, 303-497-5099
Metadata Specialist

NOAA National Centers for Environmental Information
formerly NOAA’s National Geophysical Data Center

http://www.ngdc.noaa.gov/metadata/emma
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

On Thu, Apr 30, 2015 at 9:34 AM, robragsdale <notifications@github.com>
wrote:

[2015-05-05 19:13] brianmckenna commented on #73
@amilan17 looks like it has been cleared out successfully, can you remove the 'configurations for clean out'? We should be all set to with the records to be recreated.  Please let me know if we need to re-register each. Thank you!

[2015-05-05 20:31] robragsdale commented on #73
@amilan17 The [production WAF](http://www.ngdc.noaa.gov/metadata/published/NOAA/IOOS/MARACOOS/iso_u/) is populated, the [test WAF](http://www.ngdc.noaa.gov/metadata/published/test/NOAA/IOOS/MARACOOS/iso_u/) is empty.  Does MARACOOS need to repopulated their WAF?  The catalog is showing 0 services and datasets right now and we need to resolve this as quickly as possible.  Thanks!

[2015-05-05 20:54] amilan17 commented on #73
looking into it right now.

Anna
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
Anna.Milan@noaa.gov, 303-497-5099
Metadata Specialist

NOAA National Centers for Environmental Information
formerly NOAA’s National Geophysical Data Center

http://www.ngdc.noaa.gov/metadata/emma
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

On Tue, May 5, 2015 at 2:31 PM, robragsdale <notifications@github.com>
wrote:

[2015-05-05 23:08] amilan17 commented on #73
So it seems that for some reason EMMA did not complete the processing of
MARACOOS last night/this morning. I re-ran processing and re-synced 440
records to production WAF (
http://www.ngdc.noaa.gov/metadata/published/NOAA/IOOS/MARACOOS/iso/) and
Geoportal.
I don't know what caused this issue, but I also turned off the cleanout
configurations of the previous run so *all* records won't disappear aga

[2015-05-06 17:55] robragsdale commented on #73
@brianmckenna @lukecampbell The MARACOOS services are not being represented right now in the [Catalog](http://catalog.ioos.us/services/filter/MARACOOS/none).  @amilan17 is working on this.

We need for you to clarify for us if you want to replace the [service URLs](https://www.ngdc.noaa.gov/docucomp/collectionSource/list?recordSetId=2604646&search=List+Collection+Sources&serviceStatus=APPROVED&ser

[2015-05-06 17:57] brianmckenna commented on #73
@robragsdale @amilan17 I'll be providing the list shortly for clarity. Quickly cleaning out a few dead links in there.

We will need to register that new WAF and keep the existing THREDDS service URLs, I will provide those links as well, so there's no confusion

[2015-05-06 18:45] brianmckenna commented on #73
@amilan17

Lets just go with the new WAF. Replaces the old entries. So...

URL | Point of Contact | Organization
------------- | ------------- | -------------
http://sos.maracoos.org/maracoos-iso/  | Brian McKenna - RPS ASA - bmckenna@asascience.com  | MARACOOS

Thanks for this.

[2015-05-06 18:55] robragsdale commented on #73
@brianmckenna there are 22 records in the NGDC Geoportal now for MARACOOS.  It looks like these services are duplicated in the WAF.  @amilan17 Do we need to remove these records from Geoportal so we don't have duplication?

[2015-05-06 18:56] brianmckenna commented on #73
@robragsdale correct, please remote those 22 existing records. thank you

[2015-05-06 19:00] robragsdale opened #75 "High number of CDIP THREDDS request per day from IOOS Catalog"
Issue with CDIP THREDDS getting approx. 340,000 request per day from m.catalog.ioos.us:

We notice that the CDIP THREDDS service is getting roughly 340,000 request a day from 198.199.71.152 (m.catalog.ioos.us).  It does not seem like it’s affected our uptime but it does seem excessive when for a few hours IOOS is requesting 1300 times every minute.  Our logs show that it’s repeating each SOS reque

[2015-05-06 19:01] robragsdale commented on #75
Luke, this does seem excessive.  Do you have enough info from the email to investigate or do you need something else from Darren?  Is there something special about the CDIP harvesting or are we hitting every THREDDS instance this often?

[2015-05-06 19:03] robragsdale commented on #75
Ok, so this is new. There's something wrong with the SOS harvester, and it's causing an infinite recursion of attempts.http://catalog.ioos.us/services/54ba01928c0db305aeb6183d
Ben, can you please look at this today?

[2015-05-06 19:04] robragsdale commented on #75
@benjaminadams I'm on it.

[2015-05-06 19:19] amilan17 commented on #73
@brianmckenna

Great! Thanks.
This WAF is now submitted:
https://www.ngdc.noaa.gov/docucomp/collectionSource/list?recordSetId=2604646&componentId=&serviceType=&serviceStatus=SUBMITTED&serviceUrl=&search=List+Collection+Sources
if all goes well we will see all of these metadata records in the test MARACOOS waf in EMMA
http://www.ngdc.noaa.gov/metadata/published/test/NOAA/IOOS/MARACOOS/iso_u/

THEN,

[2015-05-06 19:35] robragsdale commented on #73
@brianmckenna has the contact information for the services in the WAF that are replacing the older services been updated and checked that information is not being lost/

[2015-05-06 20:11] robragsdale opened #76 "New HF radar aggregations submitted to IOOS Registry"
There is a new set of Hf radar aggregations available at http://hfrnet.ucsd.edu/thredds/fmrc-catalog.html.  Do you think you could check the data sets listed above to see if they work better with your service? Tom Cook will be upgrading all of our datasets to the FMRC aggregations soon.

Recap of email thread:
Slowness issues have been occurring for the past few months, and Scripps is trying a dif

[2015-05-06 20:12] robragsdale commented on #76
@tomcook the new aggregated HF radar services are registered here https://www.ngdc.noaa.gov/docucomp/collectionSource/list?recordSetId=6338758&componentId=&serviceType=&serviceStatus=SUBMITTED&serviceUrl=&search=List+Collection+Sources.

[2015-05-06 20:28] BenjaminAdams commented on #75
@robragsdale I think you have the wrong Benjamin Adams =)

[2015-05-06 21:49] benjwadams commented on #75
Should be fixed now by https://github.com/ioos/catalog/pull/396.

Unfortunately, many of the SOS datasets are not harvesting, perhaps due to 'outputFormat' parameter.  Will have to look into this in a separate issue in catalog.

[2015-05-07 16:56] robragsdale commented on #76
New aggregated HF radar services approved in [registry](https://www.ngdc.noaa.gov/docucomp/collectionSource/list?recordSetId=6338758&componentId=&serviceType=&serviceStatus=&serviceUrl=&search=List+Collection+Sources).

[2015-05-08 18:58] lukecampbell opened #77 "Remove tds.ioos.us entries from Catalog"
Hey Folks,

tds.ioos.us was shut down in favor of using GliderDAC (2.0) at data.ioos.us
Could you please remove all catalog entries from tds.ioos.us?

[2015-05-08 19:10] robragsdale commented on #77
@amilan17 can you do a clean out of the GliderDAC WAF?  The status of the tds.ioos.us entries are set for removed in the registry.

[2015-05-08 19:24] lukecampbell commented on #77
I've updated the GliderDAC WAF
http://data.ioos.us/gliders/metadata/

To ensure that it only contains valid GliderDAC 2 entries.

Thanks

[2015-05-13 17:19] robragsdale opened #78 "Update of CeNCOOS metadata in registry"
Reference [Unharvestable CeNCOOS Services #395](https://github.com/ioos/catalog/issues/395#issuecomment-101715267) in catalog repository.

@jpatterson should all of www.cencoos.rog dataset urls be removed from the [registry](https://www.ngdc.noaa.gov/docucomp/collectionSource/list?recordSetId=2604643&componentId=&serviceType=&serviceStatus=&serviceUrl=&search=List+Collection+Sources).

Should I, t

[2015-05-13 18:33] lukecampbell commented on #76
@robragsdale I just looked at it and now it looks like the URLs registered don't point to any valid datasets anymore. Is there anyway we can have the URLs updated in geoportal?

[2015-05-13 19:43] rsignell-usgs commented on #76
These FMRC aggregations work great, but I think they are not showing up because the NGDC thredds catalog crawler does not follow `<catalogRef>` entries and since http://hfrnet.ucsd.edu/thredds/fmrc-catalog.html was harvested, and **only** contains `<catalogRef> entries, nothing is coming up.

There are at least 4 ways to solve the problem:
1. modify the NGDC code to follow <catalogRef> entries (bu

[2015-05-13 19:48] lukecampbell commented on #76
FWIW, I like the WAF approach. It's served me well for GliderDAC and now MARACOOS.

[2015-05-13 20:25] rsignell-usgs commented on #76
@lukecampbell , I guess since all these datasets have ISO services, I guess anyone already running https://pypi.python.org/pypi/thredds_crawler could just add
http://hfrnet.ucsd.edu/thredds/fmrc-catalog.html
to the list of thredds catalogs they are harvesting.

[2015-05-13 20:55] rsignell-usgs commented on #76
Actually, I guess this crawler: https://github.com/axiom-data-science/thredds_iso_harvester

[2015-05-21 22:26] susoson commented on #78
@robragsdale
Yes all www.cencoos.org urls should be removed from the registry.
Yes please update thredd.axiomalaska to thredds.axiomdatascience.

[2015-05-21 22:27] susoson commented on #78
@robragsdale
fyi - jpatterson is not me on GitHub!

[2015-06-03 14:27] #73 closed

[2015-06-03 14:28] lukecampbell opened #79 "SOS MARACOOS WAF Cleanout"
Could we get another WAF cleanout for MARACOOS?

[2015-06-03 18:17] lukecampbell opened #80 "GliderDAC WAF cleanout"
Could I get a WAF cleanout?

[2015-06-03 18:21] robragsdale commented on #80
@amilan17 can you cleanout the GliderDAC WAF? Thanks.

[2015-06-03 19:17] amilan17 commented on #80
The Glidar DAC is cleaned out everynight automatically, because the
metadata is harvested from a WAF. (versus THREDDS).
There is a possibility the clean out is not working properly - and it looks
like the count of records doubled last night!

Are you seeing old records in EMMA at:
http://www.ngdc.noaa.gov/metadata/published/NOAA/IOOS/Glider_DAC/iso/

Anna
*~~~~~~Metadata Adds Meaning.~~~~~~*
Anna.

[2015-06-04 13:50] lukecampbell commented on #79
Geoportal is showing outdated ISOs which is causing IOOS Catalog to show mostly red for MARACOOS
Here's an example for the SLDMB 43416
http://www.ngdc.noaa.gov/geoportal/rest/document?id=%7B2A8A2AF7-1948-4543-9201-E3A063490E01%7D
Here's the actual ISO on our WAF
http://sos.maracoos.org/maracoos-iso/thredds_dodsC_sldmb_sldmb_43416_agg.ncml.xml

Is there anyway we could find out where that stale rec

[2015-06-04 16:50] amilan17 commented on #79
​The MARACOOS WAF is now set up for a cleanout. That old record should be
gone by tomorrow. ​

Anna
*~~~~~~Metadata Adds Meaning.~~~~~~*
Anna.Milan@noaa.gov, 303-497-5099
NOAA National Centers for Environmental Information
formerly NOAA’s National Geophysical Data Center
http://www.ngdc.noaa.gov/metadata/emma
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

On Thu, Jun 4, 2015 at 7:50 AM, Luke Campbell <notifi

[2015-06-04 17:32] lukecampbell commented on #79
Ok thanks! I'll check catalog tomorrow and close the issue if there are no more issues.

[2015-06-05 13:36] lukecampbell commented on #80
So, I don't see the old records in there but I do see them on geoportal
http://www.ngdc.noaa.gov/geoportal/rest/find/document?rid=local&ridName=NOAA%27s%20Geophysical%20Data%20Center&searchText=sys.siteuuid:%22{2546E50F-F0C7-4365-9D45-694DD22E5F26}%22&start=1&max=100&orderBy=relevance&maxSearchTimeMilliSec=10000&f=pjson
and that's what catalog is harvesting. Same goes with MARACOOS.

[2015-06-05 13:38] lukecampbell commented on #80
just search "gichigami" or "nokomis"

[2015-06-05 13:39] lukecampbell commented on #79
I'm still seeing issues
http://www.ngdc.noaa.gov/geoportal/rest/find/document?rid=local&ridName=NOAA%27s%20Geophysical%20Data%20Center&searchText=sys.siteuuid:%22{C664F631-6E53-4108-B8DD-EFADF558E408}%22&start=1&max=100&orderBy=relevance&maxSearchTimeMilliSec=10000&f=pjson

Search for "43416" and you'll notice that the metadata fields are stale compared with those on the WAF.

[2015-06-05 13:42] lukecampbell commented on #79
This is what the WAF has:
[code]

http://sos.maracoos.org/maracoos-iso/thredds_dodsC_sldmb_sldmb_43416_agg.ncml.xml

But here's what shows up in geoportal

[code]

[2015-06-05 16:38] amilan17 commented on #80
I manually deleted all records from Geoportal and reharvested. I think it's
looking better now. However, please let me know as soon as this happens
again - 'full synchronization' may not be working as expected.

Anna
*~~~~~~Metadata Adds Meaning.~~~~~~*
Anna.Milan@noaa.gov, 303-497-5099
NOAA National Centers for Environmental Information
formerly NOAA’s National Geophysical Data Center
http://www.

[2015-06-05 16:38] amilan17 commented on #79
I manually deleted all records from Geoportal and reharvested. I think it's
looking better now. However, please let me know as soon as this happens
again - 'full synchronization' may not be working as expected.

Anna
*~~~~~~Metadata Adds Meaning.~~~~~~*
Anna.Milan@noaa.gov, 303-497-5099
NOAA National Centers for Environmental Information
formerly NOAA’s National Geophysical Data Center
http://www.

[2015-06-06 15:21] lukecampbell commented on #79
Looks good thanks,

[2015-06-06 15:21] #79 closed

[2015-06-06 15:21] lukecampbell commented on #80
Looks good now, thank you so much.

[2015-06-06 15:21] #80 closed

[2015-08-05 14:24] robragsdale commented on #78
@amilan17 can you set up a clean out of the CeNCOOS WAF for tonight?  I updated the status of the www.cencoos.org services to 'removed' in the registry.  I registered the new ISOWAF url thredds,axiomdatascience.com.  The older thredds,axiomalaska.com url was updated to 'for removal'.

[2015-08-05 16:34] amilan17 commented on #78
I changed the config - It should be cleaned out by tomorrow.

Anna
*~~~~~~Metadata Adds Meaning.~~~~~~*
Anna.Milan@noaa.gov, 303-497-5099
NOAA National Centers for Environmental Information
formerly NOAA’s National Geophysical Data Center
http://www.ngdc.noaa.gov/metadata/emma
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

On Wed, Aug 5, 2015 at 8:24 AM, robragsdale <notifications@github.com>
wrote:

[2015-08-10 16:28] robragsdale commented on #78
Updated CeNCOOS services in registry.  Removed www.cencoos.org service urls.  Replaced axiomalaska.com with axiomdatascience.com in service url.  Clean out removed services not reporting in the catalog.  The list of services being harvested are listed [here](http://catalog.ioos.us/services/filter/CeNCOOS).

[2015-08-10 16:28] #78 closed

[2015-08-31 20:38] rsignell-usgs opened #81 "HRRR data is in AOOS WAF, but not in registry"
I'm trying to figure out why the HRRR (high-resolution rapid refresh, very cool!) model is not in the registry at http://www.ngdc.noaa.gov/geoportal

but the [WAF is in the Collection Source Table](https://www.ngdc.noaa.gov/docucomp/collectionSource/list?recordSetId=8824731&componentId=&serviceType=ISOWAF&serviceStatus=&serviceUrl=&search=List+Collection+Sources)

and the [HRRR is in the WAF](http

[2015-08-31 22:16] amilan17 commented on #81
@rsignell-usgs
I think this is an issue on the NGDC side. For some reason - the Unidata records were not getting synced into the production WAF during it's scheduled time. This has been happening since 8/15. I've manually synced to EMMA and Geoportal today, it may be a larger timing issue. I'll check again tomorrow.

[2015-09-01 00:51] rsignell-usgs commented on #81
Okay,thanks. I'm hoping to use these in catalog-driven workflow demos Wednesday and Friday!

[2015-09-01 11:15] rsignell-usgs commented on #81
The manual syncing worked, and today the HRRR is back!     @amilan17, I hope you can find out what is wrong with the automated process, but if you can't figure it out today, can you manually sync again so that I have these for tomorrow's demo?

![2015-09-01_0711](https://cloud.githubusercontent.com/assets/1872600/9602762/32963aa6-5079-11e5-8539-7f8711163ead.png)

[2015-09-01 16:34] amilan17 commented on #81
Hi Rich, rather than manually syncing every day until we figure out what is
going on - I configured a couple things:
1. EMMA processing will NOT remove previous harvest - it will only add new
and replace current files.
2. Geoportal is set to manual syncing instead of daily. So they will not
disappear if the EMMA waf is cleared out.

Will it work for you to use yesterday's version of these records

[2015-09-01 17:54] rsignell-usgs commented on #81
@amilan17, since these are short range (36 hour) forecast models, they would be updated every day, because if I search for data that contains the current forecast on Friday, I won't get records back.

[2015-09-01 18:37] amilan17 commented on #81
Ok. Good to know.
I'll undo previous changes.

Anna
*~~~~~~Metadata Adds Meaning.~~~~~~*
Anna.Milan@noaa.gov, 303-497-5099
NOAA National Centers for Environmental Information
formerly NOAA’s National Geophysical Data Center
http://www.ngdc.noaa.gov/metadata/emma
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

On Tue, Sep 1, 2015 at 11:54 AM, Rich Signell <notifications@github.com>
wrote:

[2015-09-01 18:37] amilan17 commented on #81
Do the names of the files change every day?

Anna
*~~~~~~Metadata Adds Meaning.~~~~~~*
Anna.Milan@noaa.gov, 303-497-5099
NOAA National Centers for Environmental Information
formerly NOAA’s National Geophysical Data Center
http://www.ngdc.noaa.gov/metadata/emma
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

On Tue, Sep 1, 2015 at 12:36 PM, Anna Milan - NOAA Federal <
anna.milan@noaa.gov> wrote:

[2015-09-01 18:58] rsignell-usgs commented on #81
No, thankfully the URLs stay the same!   The only thing that should change in the metadata are the start/stop times!

[2015-09-01 19:11] amilan17 commented on #81
OK. I configured the EMMA processing to NOT remove records before
processing, so at least the WAF won't be empty... However, I'll still
manually sync new records this week - unless we figure out what is going on
!

Anna
*~~~~~~Metadata Adds Meaning.~~~~~~*
Anna.Milan@noaa.gov, 303-497-5099
NOAA National Centers for Environmental Information
formerly NOAA’s National Geophysical Data Center
http://w

[2015-09-01 19:19] rsignell-usgs commented on #81
@amilan17 , okay, thanks so much!  I appreciate it!

[2015-09-10 16:41] rsignell-usgs opened #82 "Espresso OPeNDAP URLS are incorrect after rutgers THREDDS upgrade"
Just a note that if you search for "Espresso", the OPENDAP URLs are broken following the Rutgers THREDDS upgrade, which was completed at 10:15AM ET on Tuesday, Sep 8 (two days ago).

For example, this is still the URL listed:
http://tds.marine.rutgers.edu/thredds/dodsC/roms/espresso/2013_da/avg_Best/ESPRESSO_Real-Time_v2_Averages_Best_Available_best.ncd.html

Hopefully this will be resolved by tom

[2015-09-11 15:03] robragsdale opened #83 "MARACOOS WAF Cleanout"
@amilan17 Could you please set up a cleanout of the MARACOOS WAF?  Their are a number of old records that need to be removed.  Thanks.

[2015-09-11 15:36] amilan17 commented on #83
@robragsdale You should see these removed sometime tomorrow afternoon.

[2015-09-11 19:28] robragsdale commented on #82
The new URL has been registered (ex. http://tds.maracoos.org/iso/thredds_dodsC_roms_espresso_2013_da_avg_ESPRESSO_Real-Time_v2_Averages_Best.xml) in the MARACOOS WAF.  The new endpoint should be discoverable in the Geoportal by Monday.

[2015-09-14 15:25] robragsdale commented on #83
@brianmckenna The services were successfully harvested into the NCEI MARACOOS and showing up in the geoportal [harvesting diagram] (http://ioos.github.io/registry/ioos_registration_ngdc/).  They are not showing up in the IOOS catalog this morning.  MARACOOS is showing 0 datasets and services.    Can you or @lukecampbell do a manual harvest of the MARACOOS WAF so these show up in the catalog?

[2015-09-14 15:32] lukecampbell commented on #83
Done:
http://catalog.ioos.us/services/filter/MARACOOS

[2015-09-14 15:34] #83 closed

[2015-09-16 15:37] robragsdale commented on #83
IOOS Catalog harvesting services and services and datasets back in the Catalog

[2015-11-02 17:00] robragsdale opened #84 "OceanSITES Metadata Registration"
@amilan17

Could you check on the harvest status of the OceanSITES metadata URLs submitted on 10/30.  They did not show up in the NDBC production WAF.

Collection source list URL: https://www.ngdc.noaa.gov/docucomp/collectionSource/list?recordSetId=2604649&componentId=&serviceType=&serviceStatus=SUBMITTED&serviceUrl=&search=List+Collection+Sources

[2015-11-03 01:42] amilan17 commented on #84
@robragsdale
This is an error message I found in the logs:
***
.... http://dods.ndbc.noaa.gov/thredds/catalog/oceansites/DATA/T8N170W/catalog.xml
yyerror: syntax error, unexpected SCAN_PROG, expecting '{'; DAS parse failed at line: 76 char: 0; near:
ension "TIME";    }}^
....
Illegal attribute
opendap.dap.parsers.ParseException: Cannot read DAS
***
I'm not sure if it's causing the failure and am t

[2015-11-03 14:28] robragsdale commented on #84
Thanks @amilan17.  These three services were successfully harvested.  Thanks for looking into why the other services are failing.

http://dods.ndbc.noaa.gov/thredds/catalog/oceansites/DATA/ALOHA/catalog.xml
http://dods.ndbc.noaa.gov/thredds/catalog/oceansites/DATA/LOCO-MOZCHANNEL/catalog.xml
http://dods.ndbc.noaa.gov/thredds/catalog/oceansites/DATA_GRIDDED/RAMA/catalog.xml

[2015-12-08 17:17] rsignell-usgs opened #85 "Could data start and stop time be added to NGDC geoportal gui?"
Right now users can use free text search and specify a region, but if they want to search on time, clicking on advanced search offers only a search on "modified date", which is not the data start and end date, right?
![2015-12-08_11-56-23](https://cloud.githubusercontent.com/assets/1872600/11662266/b35b98ee-9da3-11e5-9aa7-050fde086603.png)
Could you add the ability to search on data start/stop tim

[2015-12-08 17:56] amilan17 commented on #85
It's certainly possible, but right now our instance of Geoportal is in maintenance only mode and we are not adding features or changing the configurations.

[2015-12-15 14:28] robragsdale commented on #84
@amilan17 can you create an IOOS/OceanSITES WAF that we can migrate the OceanSITES services into?

[2015-12-15 14:29] robragsdale commented on #74
MARACOOS UUID confirmed

[2015-12-15 14:29] #74 closed

[2015-12-15 14:45] robragsdale commented on #72
Issue fixed.

[2015-12-15 14:45] #72 closed

[2015-12-15 16:13] robragsdale opened #86 "Remove GBOFS from catalog/registry"
Set status of http://opendap.co-ops.nos.noaa.gov/thredds/catalog/GBOFS/fmrc/catalog.xml to "for removal".

[2015-12-15 16:17] robragsdale commented on #76
Fixed service URLs. Registry URL: https://www.ngdc.noaa.gov/docucomp/collectionSource/list?recordSetId=6338758&componentId=&serviceType=&serviceStatus=&serviceUrl=&search=List+Collection+Sources

[2015-12-15 16:17] #76 closed

[2015-12-15 16:18] #77 closed

[2015-12-15 20:36] amilan17 commented on #84
Yes. I will have it up before the end of the week.

Anna
*~~~~~~Metadata Adds Meaning~~~~~~*
Anna.Milan@noaa.gov, 303-497-5099
NOAA National Centers for Environmental Information
(formerly NOAA’s National Geophysical Data Center)
http://www.ngdc.noaa.gov/metadata/emma
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

On Tue, Dec 15, 2015 at 7:28 AM, robragsdale <notifications@github.com>
wrote:

[2015-12-16 02:33] robragsdale commented on #84
Thanks, Anna

Rob

On Tue, Dec 15, 2015 at 3:36 PM, Anna Milan <notifications@github.com>
wrote:

--
Rob Ragsdale
U.S. IOOS Program
Phone: 252-518-5957
http://www.ioos.noaa.gov

[2015-12-23 14:55] robragsdale opened #87 "UUID list update for oceanSITES WAF"
@amilan17 will you please update the UUID metadata collection list for the oceanSITES WAF that you created?

[2015-12-23 19:22] rsignell-usgs opened #88 "Is the stand-alone NcISO that NGDC uses up to date?"
When THREDDS endpoints are harvested for metadata, it's my understanding that NCDC uses a stand-alone nciso and accesses data and attributes via the OPeNDAP link.

@amilan17, assuming this is correct, does the stand-alone version of nciso that NGDC is using contain the improvement that allows time extents to be calculated when the name of the time coordinate variable has `standard_name='time'`, as

[2015-12-23 22:32] amilan17 commented on #88
I merged the most recent update from github to our local copy, but it only
entailed a change from last summer by Tom Kralidis.

I don't think the standard_name="time" PR update has been introduced to
either our version or the github version of the ncISO XSL.

Anna
*~~~~~~Metadata Adds Meaning~~~~~~*
Anna.Milan@noaa.gov, 303-497-5099
NOAA National Centers for Environmental Information
(formerly NOA

[2015-12-23 22:37] rsignell-usgs commented on #88
@amilan17 , so where is the github version of the ncISO XSL?

[2015-12-23 22:41] amilan17 commented on #88
https://github.com/Unidata/threddsIso/tree/master/src/main/resources/xsl/nciso

[2015-12-23 22:45] rsignell-usgs commented on #88
That repo has the needed fix, supplied here:
https://github.com/Unidata/threddsIso/pull/12

[2015-12-24 18:00] amilan17 commented on #87
This is the UUID for OceanSITES in Geoportal.
{D479A77C-414E-404A-AF9B-C0BA9975E90D}

[2015-12-28 16:05] robragsdale commented on #87
@lukecampbell Can you use this UUID for a new oceanSITES WAF for harvesting into the catalog?  Thanks.

[2015-12-28 16:06] robragsdale opened #89 "NDBC WAF Cleanout"
@amilan17 Could you please do a cleanout on the NDBC WAF? Thanks.

[2015-12-28 17:41] amilan17 commented on #89
​We should see the NDBC WAF cleaned out by tomorrow.​

Anna
*~~~~~~Metadata Adds Meaning~~~~~~*
Anna.Milan@noaa.gov, 303-497-5099
NOAA National Centers for Environmental Information
(formerly NOAA’s National Geophysical Data Center)
http://www.ngdc.noaa.gov/metadata/emma
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

On Mon, Dec 28, 2015 at 9:06 AM, robragsdale <notifications@github.com>
wrote:

[2015-12-29 14:52] robragsdale commented on #89
NDBC WAF clean out successful.

[2015-12-30 17:36] ocefpaf opened #90 "CSW search cannot find NDBC nor CO-OPS data"
I checked the SECOORA logs and I noticed that I could not find CO-OPS data automatically, via csw search, during my weekly runs for the whole year of 2015.

NDBC data seems to be missing as well, but we could find data a few weeks ago.

For more on this see: https://github.com/ocefpaf/sscsw/issues/1

[2015-12-30 18:23] robragsdale commented on #89
@amilan17 he ndbc cleanout removed the NDBC SOS service https://www.ngdc.noaa.gov/docucomp/collectionSource/list?recordSetId=2604649&componentId=&serviceType=&serviceStatus=&serviceUrl=&search=List+Collection+Sources that is stil approved.  It wasn't harvested into the WAF, @ocefpaf  Filipe was looking for the data.  See his issue #90.

[2016-01-04 14:45] robragsdale commented on #90
@ocefpaf the NDBC data should be back in the NGDC geoportal.  Sorry for the inconvenience that I think was caused when we did some maintenance on on the NDBC WAF at NGDC.  Please let me know if still cannot find the data.

[2016-01-04 14:45] #90 closed

[2016-01-04 14:46] robragsdale commented on #89
NDBC data is showing up again in the [NDBC production WAF](http://www.ngdc.noaa.gov/metadata/published/NOAA/IOOS/NDBC/iso_u/) and in the [NGDC geoportal](http://www.ngdc.noaa.gov/geoportal/catalog/main/home.page).

[2016-01-04 14:46] #89 closed

[2016-01-04 14:55] ocefpaf commented on #90
Thanks @robragsdale!  NDBC is OK.  I am still debugging CO-OPS though.  Not sure what is going on there.

[2016-01-04 17:58] emiliom commented on #90
@ocefpaf, I think the remaining problem(s) with CO-OPS are much narrower than the original intent of this issue (ie, NDBC and COOPS were both missing from the NGDC GeoPortal and CSW queries!). I would suggest closing this issue and, after some research/debugging (as you're doing now), opening a new narrower issue.

AFAIK, the remaining COOPS problems are:
- The specific CSW query you're doing [her

[2016-01-04 18:09] ocefpaf commented on #90
The issue is closed.  I will open a new one as soon as I get back to this.  (Right now I am back to SECOORA.)

[2016-01-04 21:37] lukecampbell commented on #87
I'll add it to this week's sprint for catalog.

[2016-01-05 19:35] lukecampbell commented on #87
Hey @robragsdale do you have a preferred logo to use for this?

For example on this page:
http://catalog.ioos.us/providers/NOAA-CO-OPS

Also, if someone could provide a paragraph to fill in as a description that will help fill the page out.

[2016-01-06 19:33] emiliom commented on #88
@amilan17, based on what @rsignell-usgs said in his last comment, it sounds like your local copy has the time fix? But based on the NANOOS THREDDS OSU ROMS record [as currently harvested](http://www.ngdc.noaa.gov/geoportal/rest/document?id={64BCA266-3EF5-4C92-83C8-05BAE244BD78}), it doesn't look like the fix is there; I'm checking for a `gml:beginPosition` element, and don't see one. So, what is t

[2016-04-20 13:59] kwilcox opened #91 "Please reharvest CeNCOOS datasets"
All of the SOS/DAP station datasets are failing: http://catalog.ioos.us/services/filter/CeNCOOS because they need to be re-harvested at the NGDC level. The URLs changed some months ago but the unique identifiers for each dataset did not.

[2016-04-28 19:00] robragsdale opened #92 "Updated GCOOS metadata service URLs"
@lukecampbell would you please change the ERDDAP service url http://gcoos1.tamu.edu/erddap/metadata/iso19115/xml/ to http://bataria.tamu.edu.8080/erddap/metadata/iso19115/xml/, which should be in the GCOOS WAF that you harvested from NCEI?

[2016-05-05 13:42] ebridger opened #93 "NERACOOS WAF Cleanout"
Please clean out and update the NERACOOS WAF. There are many old obsolete entries in the existing catalog inventory.

This is the top level WAF
http://www.neracoos.org/WAF/
Which has 2 ISO subdirs:
http://www.neracoos.org/WAF/UMaine/iso/
http://www.neracoos.org/WAF/BIO/iso/

[2016-12-19 21:38] rsignell-usgs opened #94 "Using ncISO in stand-alone mode"
Following the instructions here:
https://github.com/ioos/registry/wiki/Hosting-Your-Own-WAF

I tried harvesting ISO metadata from the SIO HFR catalogs using this script, where I used a custom (updated) XSL from [here](https://raw.githubusercontent.com/Unidata/thredds/b731bcb45b6e10b7e6102e97a9ef35e9fef43c93/tds/src/main/webapp/WEB-INF/classes/resources/xsl/nciso/UnidataDD2MI.xsl)
[code]
When I run

[2016-12-19 22:18] pacioos commented on #94
Sorry, no idea Rich. I don't use ncISO in stand-alone mode--I typically
wget/curl an online ncISO end-point. Nor have I ever needed to modify
UnidataDDCount-HTML.xsl. However, rather than harvesting the container
catalogs (e.g., http://hfrnet.ucsd.edu/thredds/HFRADAR_USHI_hourly_RTV.xml)
shouldn't you be harvesting the individual dataset catalogs (e.g.,
http://hfrnet.ucsd.edu/thredds/HFRADAR_USHI_

[2016-12-20 10:55] rsignell-usgs commented on #94
@pacioos , stand-alone ncISO is indeed smart enough to crawl the catalog.   And it doesn't access the ISO service, just the OPeNDAP service.   In fact, that's exactly when it's most useful -- in cases where the ncISO service hasn't been enabled, or is giving unsatisfactory results.

@geoneubie or @noaaroland, any ideas what is wrong with my stand-alone nciso usage?

[2016-12-20 14:32] geoneubie commented on #94
Might be https switch over.  I think there  are are some hard coded
assumptions about the use of http.  Is this something Rowland/Brian can
look at?

On Tue, Dec 20, 2016 at 3:55 AM, Rich Signell <notifications@github.com>
wrote:

[2016-12-20 23:05] noaaroland commented on #94
The first problem is that the OPeNDAP data sets in http://hfrnet.ucsd.edu/thredds/HFRADAR_USHI_hourly_RTV.xml never return any data.

When I try to access the OPeNDAP data set via the browser or ncISO the TDS hangs.

Until the server actually returns something to the client we won't be able to figure out what's wrong, if anything.

[2016-12-20 23:35] pacioos commented on #94
I noticed this today, too, (unrelated to ncISO) and e-mailed HFRNet. Their
TDS lags for minutes before returning a result. Tom Cook is going to
investigate as time allows but suggested using the NDBC TDS in the meantime:

http://sdf.ndbc.noaa.gov/thredds/catalog.html

Tom mentioned the HFRNet TDS is no longer funded. The NDBC TDS is working,
but the downside is a shorter archive (I don't think the

[2016-12-21 00:26] noaaroland commented on #94
The problems with their TDS may be unrelated to ncISO, but if I take the catalog you mention and run the command Rich was trying to run:

`java -Xms1024m -Xmx1024m -jar ncISO-2.3.jar -custom true -xsl /home/rhs/IdeaProjects/uafnciso/transforms/UnidataDD2MI-Rich.xsl  -ts http://sdf.ndbc.noaa.gov/thredds/catalog.xml -num 100 -depth 20 -iso true -waf /tmp/waf/hfradar`

It runs without error (except f

[2016-12-22 01:59] pacioos commented on #94
Btw, Tom Cook has fixed the issues with the HFRNet TDS today, so those
catalogs should be working now as well.

[2016-12-22 11:53] rsignell-usgs commented on #94
Could it be that the `AggregationCache` on the HFRNet TDS is scouring the aggregation metadata?
I have my threddsConfig.xml specify to never scour:
[code]

https://github.com/rsignell-usgs/xml/blob/master/THREDDS/geoport-dev/threddsConfig.xml#L159-L162

[2016-12-22 14:06] rsignell-usgs commented on #94
@geoneubie , @noaaroland , even with the HFRnet TDS working fine, I still get this problem, even when I test on datasets I know worked before:
[code]
Can someone try the above and tell me if it works for them?

I get:
[code]

[2016-12-28 19:13] ebridger commented on #94
@rsignell-usgs re: https://github.com/ioos/notebooks_demos/pull/130#issuecomment-269065304 Our ncISO.log indicates that the errors started around Dec. 1. So I ran some nciso tests on our WW3 and NECOFS thredds catalogs and found the same consistent results / failures, as above.

[code]
All catalogs show the same results. zero length iso xml records are created.  Errors are the same as above.  The

[2016-12-28 22:13] rsignell-usgs commented on #94
@noaaroland , are you getting non-zero length ISO files?

[2017-01-02 15:46] dneufeldcu commented on #94
The XSLTs are no longer served over http they need to be accessed via https.  This might be a good time to switch over to XSLTs hosted on the Unidata github site as well.

[2017-01-03 12:07] rsignell-usgs commented on #94
@dneufeldcu, ah, okay, so that's why nobody's standalone ncISO is working anymore.   Yes,  I agree that noving the XSLTs from NOAA to Unidata github repo make sense.

@noaaroland,  Is your plan to work with @lesserwhirls to submit a PR to enable the ncISO jar file supplied with the TDS to work in standalone mode?

[2017-01-10 20:46] emiliom commented on #94
Darn. So what short-term, feasible options do users of the stand-alone `ncISO` have (short of NOT using stand-alone ncISO ...)?? Are there near-term plans to put out a new version that just updates the url's to https?

While it's true that "This might be a good time to switch over to XSLTs hosted on the Unidata github site as well", having a broken stand-alone `ncISO` is bad all around, specially

[2017-01-11 11:16] rsignell-usgs commented on #94
I agree we need a fix for this ASAP.   @noaaroland , you have the code right?
Can you just change the `http` to `https` on the NOAA URLs and rebuild the jar or something to get this working again?

[2017-01-11 13:53] geoneubie commented on #94
https://github.com/noaaroland/uafnciso/blob/master/src/main/java/gov/noaa/eds/service/WafService.java#L23-L24

On Wed, Jan 11, 2017 at 6:16 AM, Rich Signell <notifications@github.com>
wrote:

[2017-01-11 14:03] rsignell-usgs commented on #94
@geoneubie , so like this?
https://github.com/noaaroland/uafnciso/pull/1
https://github.com/noaaroland/uafnciso/pull/1/files

[2017-01-11 14:11] geoneubie commented on #94
yes

[2017-01-11 16:18] mwengren commented on #94
Where should the resulting compiled .jar file be hosted?  Is the goal to publish a standalone nciso.jar to Unidata somewhere such as here: http://www.unidata.ucar.edu/software/thredds/v4.3/tds/tds4.2/reference/ncISO.html?   How are IOOS data providers obtaining the standalone nciso.jar currently?  Via THREDDS download?

I can help resolve the issue in the short term, but I've never worked with nci

[2017-01-11 16:52] rsignell-usgs commented on #94
I tried to make these changes and build the jar file, but ran into problem with dependencies, at least as set here:  https://github.com/noaaroland/uafnciso/issues/3

[2017-01-11 16:55] mwengren commented on #94
@emiliom You could also look into using the [thredds_crawler](https://github.com/ioos/thredds_crawler) rather than standalone nciso scripts.  Some documentation and NERACOOS' example is [here](https://ioos.github.io/catalog/pages/registry/waf_scripting/).  This would depend on the nciso service in THREDDS running of course, and might sacrifice some control over the resulting ISO files (like not us

[2017-01-11 16:58] rsignell-usgs commented on #94
@mwengren , as @emiliom mentioned, the thredds-crawler approach works great when:
* the THREDDS server support ncISO services (this is not the default and is often turned off)
* the THREDDS server ncISO is up-to-date

But when this is not the case, the stand-alone ncISO fills the gap, as it just accesses opendap endpoints -- it doesn't need ncISO services enabled on the THREDDS server.

[2017-01-11 17:23] mwengren commented on #94
True, agreed on that.  At least the THREDDSIso service uses an embedded UnidataDD2MI.xsl so it shouldn't have been broken during the https://https.cio.gov/ implementation.  But that assumes it's in fact available.  Not sure whether that is the case for NANOOS or not.

I also agree the standalone ncISO needs to be patched ASAP, just presenting some alternatives in case it helps some IOOS data provi

[2017-01-11 18:03] emiliom commented on #94
FYI, we downloaded the stand-alone ncISO from https://www.ngdc.noaa.gov/eds/tds/downloads/ncISO-2.3.jar, which we found from [this very old (2012?) unidata page](https://www.ngdc.noaa.gov/eds/tds/).

In NANOOS we have 2 THREDDS and 1 hyrax servers. The THREDDS servers are fairly recent and do have nciso; I don't believe hyrax has an ncISO plugin, but I'm not sure. Still, we were trying to operatio

[2017-01-23 18:22] emiliom commented on #94
FWIW, I composed the comment below last week, then either forgot to hit Comment or to confirm that it went in. Sigh.

Then, it looks like an updated ncISO.jar was released [here](https://github.com/NOAA-PMEL/uafnciso/releases) 9 days ago. We've tested it today, and it works!

[2017-01-24 19:45] mwengren commented on #94
@emiliom Glad to hear this release resolved the issue.   I'll make a note to update our [Catalog Documentation](https://ioos.github.io/catalog/) with a link to this particular release, with some info on using standalone ncISO as an alternative to thredds_crawler.

I wasn't aware of a preferred approach to WAF generation among IOOS data providers (still the new person around here a bit), but Hyrax

[2017-01-24 20:08] rsignell-usgs commented on #94
@mwengren , where would you like to discuss these type of issues?

[2017-01-24 21:01] mwengren commented on #94
@rsignell-usgs you got it, https://github.com/ioos/catalog is the replacement for this repo.

[2017-03-14 18:44] rsignell-usgs commented on #64
I just noticed that the IOOS modeling testbed (COMT) ISO records all have references that says `scheme: None` for all the DAP, WMS, NCSS, etc endpoints.   That causes problems: when we search for all records with OPeNDAP endpoints using CSW, the COMT records don't show up.

@brianmckenna, can you please update the XSL on the comt thredds server (if that's how you are generating the ISO records) as

[2017-03-14 18:57] rsignell-usgs commented on #64
@brianmckenna, the file to be replaced is:
comt.sura.org:/var/www/thredds_instance/webapps/thredds/WEB-INF/classes/resources/xsl/nciso/UnidataDD2MI.xsl

This file was last modified Aug 26, 2014.

We figured out this problem in November, 2014.   ;-(

[2017-03-15 00:01] rsignell-usgs commented on #64
@brianmckenna, I went ahead and updated the .xsl file and restarted the thredds server.   The ISO records now correctly identify the serviceType.  For example search this ISO record for "OPeNDAP:OPeNDAP":

http://comt.sura.org/thredds/iso/data/comt_1_archive/inundation_tropical/UND_ADCIRC/Hurricane_Ike_2D_final_run_with_waves?catalog=http%3A%2F%2Fcomt.sura.org%2Fthredds%2Fcomt_1_archive_summary.ht

[2017-03-15 01:10] rsignell-usgs commented on #64
@brianmckenna, I found your WAF generation script in ~bmckenna/WAF, backed up the existing ~bmckenna/WAF/WAF folder, and ran the script to generate new ISOs in the ~bmckenna/WAF/WAF directory

I then backed up the ISO metadata in the /var/www/html/WAF  directory (made WAF_20170314.tgz to accompany the WAF_20161111.tgz you had before) and copied over the new ISO records to:
/var/www/html/WAF

I don

[2017-03-15 01:45] mwengren commented on #64
Just ran it

On Tue, Mar 14, 2017 at 9:10 PM, Rich Signell <notifications@github.com>
wrote:

[2017-03-15 12:58] rsignell-usgs commented on #64
@mwengren, I can see the improved serviceTypes (e.g. OPeNDAP:OPeNDAP) here:
https://registry.ioos.us/waf/COMT/inundation_tropical.USF_FVCOM.Hurricane_Ike_3D_final_run_without_waves.xml  but the CSW query is still returning `Scheme=None`.

Is there some additional step that needs to be done to sync the metadata to the CSW side of the house?

[2017-03-15 13:27] lukecampbell commented on #64
@rsignell-usgs I looked at the XML, and the paths that get dropped into "scheme" for services defined under `<srv:SV_ServiceIdentification>` tags is:

[code]

I looked at the XML you pointed at, and it has these tags properly filled in. I looked at another dataset https://registry.ioos.us/waf/AOOS/NOAA_CSDL_ROMS.iso.xml which is filled out the exact same way but the scheme isn't None.

I think the

[2017-03-15 13:31] lukecampbell commented on #64
I'll try to force a CSW update by clearing the db and reharvesting, should be a few minutes.

[2017-03-15 13:35] lukecampbell commented on #64
Even after clearing and reharvesting CSW, it's still that way. I'll have to ask @benjwadams to dive into the CSW code to find out what's going on.

[2018-01-07 18:24] rsignell-usgs commented on #94
The new stand-alone ncISO is at: https://github.com/NOAA-PMEL/uafnciso

[2018-01-07 18:25] #94 closed, assigned to nobody